body{
    display: flex;
    height: 100vh;
}

#popup-modal{
    display: none;
    margin-bottom: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);;
  }

#navigate {
    height: 100vh !important;
    max-width: 90px;
    flex-shrink: 1; 
    background-color: #7e3cbc ;
}

#input-section{
    color: #D1D7E0 !important;
    height: 100vh;
    max-width: 30vw;
    min-width: 20vw;
    flex-grow: 1 !important;
    background-color: #3c3b41;
}

#map-canvas{
    flex-grow: 1;
    width: 100%;
}
a.d-block {
    margin-bottom: 30px;
    font-size: larger;
    text-align: center;
    font-weight: bolder; /* Make the text bold */
    font-family: 'Your Preferred Font', serif; /* Specify a good, normal font */
    /* Other styles if needed */
}
#purple-header{
    color: #EAB308 !important;
}